.main {
  background-color: #171923;
  color: white;
  font-family: "Outfit", sans-serif;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}
.left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
.left img {
  width: 30px;
  height: 30px;
}
.right {
  display: flex;
  gap: 20px;
}
.signInBtn {
  background-color: transparent;
  color: #7ea6ff;
  padding: 8px 14px;
  border: 1.2px solid #7ea6ff;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
}
.logoutBtn {
  background-color: transparent;
  color: #f60e0e;
  padding: 8px 14px;
  border: 1.2px solid #e60d0d;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
}
.createFormBtn {
  background-color: #1a5fff;
  color: white;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
}

/* Hero Section */
.hero {
  margin-block: 10%;
  padding-inline: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero img {
  height: 350px;
  width: 300px;
  padding-bottom: 50px;
}
.heroTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.h1Text {
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #4b83ff, #b794f4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  line-height: 70px;
}
.pText {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  padding-inline: 20px;
  margin-block: 20px;
}
.getStartedBtn {
  background-color: #1a5fff;
  color: white;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: 500;
  text-decoration: none;
}

/* Main Hero Image Section */
.heroImgArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 50px;
  position: relative;
  padding-block: 20px;
}
.circleFirst {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #e67200;
  box-shadow: 1px 0px 20px 20px #e67200;
  position: absolute;
  left: 9%;
  top: 5%;
}
.circleSecond {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #0042da;
  box-shadow: 1px 0px 20px 20px #0042da;
  position: absolute;
  right: 10%;
  top: 4%;
}
.heroImgArea img {
  border-radius: 8px;
  width: 80%;
  z-index: 2;
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 20px 190px;
  color: white;
  background-color: #171923;
}
.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer a {
  color: #ffffffeb;
  text-decoration: none;
  margin: 5px 0;
}
.footerLeft img {
  width: 30px;
  height: 30px;
}
.footerCenter {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footerCenter p {
  font-weight: 700;
}
.footerRight {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
